


<div class="container mt-3">
  <h1>Cadastre o produto</h1>

  <!-- Formulário para adicionar produto -->
  <form (ngSubmit)="adicionarProduto()">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="novoProduto.nome" name="nome" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <input matInput [(ngModel)]="novoProduto.descricao" name="descricao" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Preço</mat-label>
      <input matInput type="number" [(ngModel)]="novoProduto.preco" name="preco" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Adicionar Produto</button>
  </form>
  <h2>Lista de Produtos</h2>
  <div *ngIf="produtos.length > 0; else noProducts">
    <table mat-table [dataSource]="produtos" class="mat-elevation-z8">
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let produto"> {{ produto.nome }} </td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let produto"> {{ produto.descricao }} </td>
      </ng-container>

      <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let produto"> R$ {{ produto.preco }} </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let produto">
          <button mat-raised-button color="warn" (click)="apagar(produto.id)">Remover</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <ng-template #noProducts>
    <p class="text-center">Nenhum produto encontrado.</p>
  </ng-template>
</div>

