.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.background-image {
  background-image: url('/assets/images/fundo.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
mat-card {
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
h1 {
  text-align: center;
}
mat-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}
mat-card-title.product-name {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: bold;
}
